{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="filter" id="filter"></div>
<!--banner-->
<div class="banner banner-blog">
    <h2>STAR-PHONE<br>BLOG</h2>
</div>
<!--sub nav-->
{% include 'include/sub_nav.html' %}
<!--main-->
<div class="tab-page">
    <div class="page-container clearfix">
        <!--search box-->
        <div class="searchbox">
            <div class="searchbox-inner">
                <form action="">
                    <input class="input" type="text" title="search">
                    <button></button>
                </form>
            </div>
        </div>
        <!--article-->
        <div class="article">
            <!--article main-->
            <div class="article-inner">
                <!--article cell for details-->
                <div class="article-cell">
                    {% include 'include/article.html' %}
                    <div class="">
                        {% autoescape off %}
                        {{ article.content }}
                        {% endautoescape %}

                    </div>

                    <ul class="details-share clearfix">
                        <li><a class="share-sina" href="javascript:void(0);"></a></li>
                        <li><a class="share-qzone" href="javascript:void(0);"></a></li>
                        <li><a class="share-douban" href="javascript:void(0);"></a></li>
                        <li><a class="share-wechat" href="javascript:void(0);"></a></li>
                    </ul>
                    <div class="details-switch">
                        {% if article.id > 1 %}
                        <a class="switch-prev" href="/article_details/{{ article.id | add:-1 }}/">上一篇</a>
                        {% endif %}
                        {% if article.id < count %}
                        <a class="switch-next" href="/article_details/{{ article.id |add:1 }}/">下一篇</a>
                        {% endif %}
                    </div>
                </div>
                <!--article comments-->
                <div class="article-comments">
                    <div class="article-comments-textarea">
                        <form action="/comment/{{ article.id }}/" method="post">
                            {% csrf_token %}
                            <div class="textarea-input">
                                <div class="textarea-input-avatar">
                                    <div class="avatar-img"></div>
                                </div>
                                <div class="textarea-input-text">
                                    <textarea class="" name="text" title="text" placeholder="我想说···"></textarea>
                                </div>
                            </div>
                            <div class="textarea-info">
                                <div class="textarea-words">0<span>/150</span></div>
                                <button class="textarea-submit" type="submit">回复</button>
                            </div>
                        </form>
                    </div>
                    <ul class="article-comments-counts">
                        <li>全部评论（<span>{{ all_comments }}</span>）</li>
                        <li>我的评论（<span>{{ my_comments }}</span>）</li>
                    </ul>
                    <ul class="article-comments-lists">
                        {% for cot in comments %}
                        <li>
                            <div class="lists-item">
                                <div class="avatar-img"></div>
                                <div class="lists-item-content">
                                    <div class="lists-item-content-head">
                                        <span class="head-left">
                                            {{ cot.username }}
                                            <span class="article-time">{{ cot.data_publish |date:'Y.m.j H:i' }}</span>
                                        </span>
                                        <span class="head-right"></span>
                                    </div>
                                    <div class="lists-item-content-desc">
                                        {{ cot.content }}
                                    </div>
                                </div>
                            </div>
                            <div class="reply-box">
                                <div class="article-comments-textarea">
                                    <form action="/comment/{{ article.id }}/" method="post">
                                        {% csrf_token %}
                                        <div class="textarea-input">
                                            <div class="textarea-input-avatar">
                                                <div class="avatar-img"></div>
                                            </div>
                                            <div class="textarea-input-text">
                                                <textarea class="" name="text" title="text"
                                                          placeholder="我想说···"></textarea>
                                            </div>
                                        </div>
                                        <div class="textarea-info">
                                            <div class="textarea-words">0<span>/150</span></div>
                                            <div class="reply-buttons">
                                                <button class="textarea-cancel">取消</button>
                                                <button class="textarea-submit" type="submit">回复</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
{#                        <li>#}
{##}
{#                            <div class="lists-item">#}
{#                                <div class="avatar-img"></div>#}
{#                                <div class="lists-item-content">#}
{#                                    <div class="lists-item-content-head">#}
{#                                        <span class="head-left">#}
{#                                            I1500924880753#}
{#                                            <span class="article-time">2017-07-25 03:39</span>#}
{#                                        </span>#}
{#                                        <span class="head-right"></span>#}
{#                                    </div>#}
{#                                    <div class="lists-item-content-desc">#}
{#                                        期待手持一加5，干净的系统，可创造性更强，高通835的处理器，和顶尖的内存处理器，对于我们这种玩机少年来说简直是福利，钟爱1+的原因很简单，因为这才是自己的手机，不像小米和努比亚性能配置媲美1+手机，但是可玩性和可塑造性没有这么高，植入品牌和核心系统太多太硬#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="reply-box">#}
{#                                <div class="article-comments-textarea">#}
{#                                    <form action="">#}
{#                                        <div class="textarea-input">#}
{#                                            <div class="textarea-input-avatar">#}
{#                                                <div class="avatar-img"></div>#}
{#                                            </div>#}
{#                                            <div class="textarea-input-text">#}
{#                                                <textarea class="" name="text" title="text"#}
{#                                                          placeholder="我想说···"></textarea>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="textarea-info">#}
{#                                            <div class="textarea-words">0<span>/150</span></div>#}
{#                                            <div class="reply-buttons">#}
{#                                                <button class="textarea-cancel">取消</button>#}
{#                                                <button class="textarea-submit" type="submit">回复</button>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                        <li>#}
{#                            <div class="lists-item">#}
{#                                <div class="avatar-img"></div>#}
{#                                <div class="lists-item-content">#}
{#                                    <div class="lists-item-content-head">#}
{#                                        <span class="head-left">#}
{#                                            I1500924880753#}
{#                                            <span class="article-time">2017-07-25 03:39</span>#}
{#                                        </span>#}
{#                                        <span class="head-right"></span>#}
{#                                    </div>#}
{#                                    <div class="lists-item-content-desc">#}
{#                                        期待手持一加5，干净的系统，可创造性更强，高通835的处理器，和顶尖的内存处理器，对于我们这种玩机少年来说简直是福利，钟爱1+的原因很简单，因为这才是自己的手机，不像小米和努比亚性能配置媲美1+手机，但是可玩性和可塑造性没有这么高，植入品牌和核心系统太多太硬#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="reply-box">#}
{#                                <div class="article-comments-textarea">#}
{#                                    <form action="">#}
{#                                        <div class="textarea-input">#}
{#                                            <div class="textarea-input-avatar">#}
{#                                                <div class="avatar-img"></div>#}
{#                                            </div>#}
{#                                            <div class="textarea-input-text">#}
{#                                                <textarea class="" name="text" title="text"#}
{#                                                          placeholder="我想说···"></textarea>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                        <div class="textarea-info">#}
{#                                            <div class="textarea-words">0<span>/150</span></div>#}
{#                                            <div class="reply-buttons">#}
{#                                                <button class="textarea-cancel">取消</button>#}
{#                                                <button class="textarea-submit" type="submit">回复</button>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </form>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
                    </ul>
                    <!--load more comments-->
                    <div class="load-more">
                        <a href="">查看更多</a>
                    </div>
                </div>
            </div>
        </div>
        <!--recommendation-->
    {% include 'include/recommendation.html' %}
    </div>
</div>
{% endblock %}