{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="filter" id="filter"></div>
<!--banner-->
<div class="banner banner-news">
    <h2>STAR-PHONE<br>NEWS</h2>
</div>
{% include 'include/sub_nav.html' %}
<!--main-->
<div class="tab-page">
    <div class="page-container clearfix">
        <!--article-->
        <div class="article">
            <!--article main-->
            <div class="article-inner">
                {% for article in article_list %}
                <div class="article-cell clearfix">
                    <div class="article-title"><a href="">{{ article.title }}</a></div>
                    <div class="article-source">
                        <span class="article-origin">
                            <span class="article-year">{{ article.date_publish |date:'Y-m-d'}}<span class="article-time">{{ article.date_publish |date:'H:m' }}</span></span>
                            <span class="article-author">{{ article.user }}</span>
                        </span>
                        <ul class="article-share clearfix">
                            <li><a href="">
                                <i class="icon i-like"></i>
                                <span class="like-count">{{ article.click_count }}</span>
                            </a></li>
                            <li><a href="">
                                <i class="icon i-praise"></i>
                                <span class="praise-count">{{ article.collect_count }}</span>
                            </a></li>
                            <li class="share-way">
                                <i class="icon i-share"></i>
                                <ul class="clearfix">
                                    <li><a class="icon i-sina" href=""></a></li>
                                    <li><a class="icon i-qzone" href=""></a></li>
                                    <li><a class="icon i-douban" href=""></a></li>
                                    <li><a class="icon i-wechat" href=""></a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <a class="img-wrap" href=""><img src="{% static 'images/blog/720-1.jpg' %}" alt=""></a>
                    <div class="article-text">
                        {% autoescape off %}
                            {{ article.content }}
                        {% endautoescape %}
                    </div>
                    <a class="article-more" href="">
                        <span class="more-icon">+</span>
                        MORE
                    </a>
                </div>
                {% endfor %}
            </div>
            {% include 'include/pagination.html' %}
        </div>
        <!--recommendation-->
        <div class="recommendation">
            <h3>热点推荐</h3>
            <ul class="recommendation-inner">
                <li>
                    <a class="clearfix" href="">
                        <img src="{% static 'images/blog/90.jpg' %}" alt="">
                        <span class="recommendation-desc">
                            <span class="recommendation-desc-text">为什么 OnePlus 5 的灰色，要比以往更深一些？</span></span>
                    </a>
                </li>
                <li>
                    <a class="clearfix" href="">
                        <img src="{% static 'images/blog/90.jpg' %}" alt="">
                        <span class="recommendation-desc">
                            <span class="recommendation-desc-text">为什么 OnePlus 5 的灰色，要比以往更深一些？</span></span>
                    </a>
                </li>
                <li>
                    <a class="clearfix" href="">
                        <img src="{% static 'images/blog/90.jpg' %}" alt="">
                        <span class="recommendation-desc">
                            <span class="recommendation-desc-text">为什么 OnePlus 5 的灰色，要比以往更深一些？</span></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}