{% load staticfiles %}
<!--recommendation-->
        <div class="recommendation">
            <h3>热点推荐</h3>
            <ul class="recommendation-inner">
                {% for art in hot_articles %}
                <li>
                    <a class="clearfix" href="{% url 'article_details' art.id %}">
                        <img src="{% static art.img.url %}" alt="">
                        <span class="recommendation-desc">
                            <span class="recommendation-desc-text">{{ art.desc|slice:":30" }}</span></span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>